@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

@theme {
  --color-black-100: #1a1a1a;
  --color-black-90: #7a7a7a;
  --color-black-80: #e5e5e5;

  --color-green-100: #c7ff10;
  --color-green-90: #92cc0c;
}
